* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #181D1F;
}

body {
  font-family: 'Mabry Pro', -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

}

iframe {
  border: none;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
  color: inherit;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

ul {
  padding: 0;
  list-style: none;
}

figure {
  margin-right: 1rem;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('../fonts/Mabry\ Pro.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mabry Pro Bold';
  src: url('../fonts/Mabry\ Pro\ Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mabry Pro Medium';
  src: url('../fonts/Mabry\ Pro\ Medium.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mabry Pro Light';
  src: url('../fonts/Mabry\ Pro\ Light.otf');
  /* font-weight: 300; */
  font-style: normal;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #3e4044;
  color: #f2f2f2;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #696cff;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label>.label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Фон выделения цвет */
::selection {
  /* background-color: #f1c40f; */
  background-color: #FFDA00;
  color: #000;
}

::-webkit-input-placeholder {
  /* Edge */
  color: red;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

::placeholder {
  color: #d9d9d9;
}

/* -------- IDs ---------- */
#myVideo {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  padding-top: 45px;
}

#text {
  height: auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text h4 {
  font-weight: 200;
  padding: 1.5rem 0;
  max-width: 700px;
  font-size: 1.4rem;
}

#opening {
  font-size: 0;
}

#navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  /* transition: top 0.3s; */
  transition: all 0.3s;
}

#navbar.scrollUp {
  transform: translateY(-45px);
}

#one {
  background-image: url(../img/anim.png);
}

#two {
  background-image: url(../img/reklama-1.png);
}

#three {
  background-image: url(../img/blogging.jpg);
}

#four {
  background-image: url(../img/highcompress-anim\ .png);
}

#five {
  background-image: url(../img/hard\ vfx.png);
}

#six {
  background-image: url(../img/AR\ razrabotka.jpeg);
  background-position: right;
}

#seven {
  background-image: url(../img/reportazh.png);
  background-position: left;
}

#eight {
  background-image: url(../img/music\ clip.png);
  background-position: center;
}

#nine {
  background-image: url(../img/korporat\ video.png);
}

#ten {
  background-image: url(../img/test4.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  color: #ffffff;
  width: 100%;
  padding: 0 1rem;
  text-align: center;

}

#bloggers {
  background-image: url(../img/test4.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  color: #ffffff;
  /* padding: 0 1rem; */
  text-align: center;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: none;
}

#ten .h-text-style {
  width: fit-content;
  margin: auto;
  margin-bottom: 1rem;
}

#ten #faces img {
  margin: auto;
}

#three .p-text-style,
#ten .p-text-style {
  /* max-width: 600px; */
  margin: auto;
  color: #d9d9d9;
}

#ten .p-text-style {
  max-width: 600px;
}



#five span,
#main-footer span,
#three span {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 300;
}

#ten #faces img,
#three .person-card .blogger-photo {
  width: 150px;
  height: 150px;
  display: flex;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#three .person-card .blogger-photo {
  width: 120px;
  height: 120px;
}

#faces {
  margin-top: 3rem;
  max-width: 800px;
}



#ModalCenter .modal-header:first-child {
  height: fit-content;
  line-height: 1.5;
  font-size: 1.32875rem;
}

#faces p {
  width: fit-content;
  max-width: 330px;
  margin: auto;
  color: #d9d9d9;
  font-weight: 300;
}

#btn-trigger-modal {
  display: block;
  margin: auto;
  margin-top: 1rem;
}

#crew-panel {
  padding: 3rem 0;
}

#main-footer {
  color: #f2f2f2;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
}

.footer-info-content:first-child {
  font-weight: 600;
  font-size: 14px;
}

#main-footer img {
  width: 40px;
}

#main-footer ul a:hover {
  color: #6b7379;
}

#footer-logo {
  text-align: left;
  padding-bottom: 3rem;
}

#footer-logo img {
  width: 150px;
  height: auto;
}

p#sent-successfully {
  display: inline;
  font-size: 1.4rem;
  margin: 0;
}

p#sent-unsuccessfully {
  display: block;
  color: #181D1F;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding: 0 1.5625rem 1.5625rem 1.5625rem;
  color: #dc3545;
  /* transition: all 0.5s  ease-in-out; */
  transition: visibility 0.3s, opacity 0.5s, height 1s, linear;
  /* transition: all 2s linear; */
}

#svg-sent {
  width: 4.2rem;
  margin: 0 1rem 0 0;
}

#facts {
  max-width: 600px;
  margin: auto;
}

#success {
  padding: 1.5625rem;
  color: #44bd32;
}

#success,
#failure {
  transition: visibility 2s, opacity 2s, ease-in-out;
}

#contact-form p {
  display: none;
  width: 100%;
  margin-bottom: 0;
  text-align: left;
  font-size: 80%;
  color: #dc3545;
}

#close-modal img {
  height: auto;
  width: 20px;
}

.svg-wrapper {
  line-height: 1.5;
  font-size: 1.32875rem;
}

#form-img {
  height: 3rem;
  width: auto;
  margin-right: 1rem;
}

#email-input label {
  padding-top: 0;
}

#start-overlay {
  opacity: 1;
  transition: opacity 1s ease;
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
}

#start-overlay img {
  height: 100px;
  width: auto;
  display: block;
  margin: 0 auto;
}

#start-overlay .overlay-content h4 {
  margin: 0 1rem;
}

#cookie-popup {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: 1rem;
  display: none;
}

#cookie-popup .popup-content {
  color: #000;
  padding: 1rem;
  display: flex;
  align-items: center;
  width: fit-content;
  max-width: 80vw;
  border-radius: 20px;
  background-color: #696cff;
  margin: auto;
}

#cookie-popup .popup-content button {
  background-color: #fff;
  margin-left: 1rem;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}

#start-overlay .overlay-content {
  position: fixed;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
}

#not-found {
  padding-top: 45px;
  height: fit-content;
}

#nine .container {
  max-width: 100vw !important;
  margin-right: 0;
  margin-left: 0;
}

/* -------- IDs ---------- */

/* -------- Classes ---------- */
.img-page img {
  width: 60px;
  /* height: 100px; */
  display: block;
  color: #fff;
  fill: red;
  stroke: #fff;
  opacity: 1;
}

.my-gallery {
  display: flex;
  justify-content: center;
}

.my-gallery img {
  width: 160px;
}

#footer-text {
  margin: 0.5rem 0 1.5rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
}

.nav-bg-col {
  background-color: #181D1F;
}

.modal-content {
  color: #f2f2f2;
}

.navbar {
  font-size: 15px !important;
  padding: 0 1rem;
  height: 45px;
}

.navbar-nav {
  z-index: 9998;
  font-weight: 300;
}

.navbar-brand {
  font-size: 21px;
  padding: 7px 0;
}

.max-width {
  max-width: 1140px;
  display: flex;
  width: 100vw;
}

.crew-name,
.bloggers-name {
  font-size: 1.4rem;
  font-weight: 400 !important;
  color: #fff !important;
  margin-bottom: 0.3rem !important;
}

#three .crew-name {
  font-size: 1rem;
}

#three .profession {
  font-size: 0.8rem;
}

#three .person-card {
  margin-bottom: 0;
}

.img-page {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  color: #ffffff;
  /* display: flex; */
  width: auto;
  /* height: fit-content; */
  min-height: 50vw;
  justify-content: center;
  align-items: center;
  border: 2.5px #ffda00 solid;
  border-collapse: collapse;
  /* outline: 1px #44bd32; */
  /* outline-style: outset;
  outline-width: 5px;
  outline-color: #ffda00; */
}

#faces .profession {
  color: #fff;
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
}

.hide-element {
  visibility: hidden;
  height: 0;
}

.text-on-page {
  max-width: 660px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.h-text-style {
  font-size: 40px;
  font-weight: 500;
}

.mt-2-rem {
  margin-top: 2rem;
}

#three .h-text-style {
  font-size: 45px;
}

#logo {
  height: 40px;
  width: auto;
}

.p-text-style {
  font-size: 25px;
  font-weight: 200;
}

.scrollLock {
  overflow: hidden;
}

.video-slide {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-slide video {
  height: 80vh;
}

.level p {
  /* width: 50px;
  height: 50px;
  margin-top: -0.2rem;
  background-color: #fff;
  border-radius: 50%;
  color: #000; */
  background-color: #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
}

.img-container {
  width: fit-content;
  margin: auto;
  border-radius: 50%;
  position: relative;
}

.color-yellow {
  fill: #FFDA00 !important;
}

.border-top-none {
  border-top: none;
}

.border-bottom-none {
  border-bottom: none;
}

.border-left-none {
  border-left: none;
}

.container {
  max-width: none !important;
}

.border-right-none {
  border-right: none;
}

.fill-yellow {
  fill: #FFDA00;
}

.intro-secondary {
  font-size: 1.4rem;
}

a.nav-link:hover {
  color: #FFDA00 !important;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.op-0 {
  opacity: 0;
}

.modal-slim-padding {
  padding: 0.4rem 1rem !important;
}

.contents-on-page {
  /* min-height: 50vw; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0 !important;
  height: 100%;
}

.contents-on-page:hover {
  opacity: 1 !important;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  backface-visibility: hidden;
}


.font-light {
  font-family: 'Mabry Pro Light',
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.font-bold {
  font-family: 'Mabry Pro Bold',
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.font-medium {
  font-family: 'Mabry Pro Medium',
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.person-card {
  width: fit-content;
  margin: 2rem 0;
}

.svg-close {
  width: 12px;
}

.blobs {
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 7rem;
}

#contact-form .invalid-form-text {
  display: block;
}

.h-text-style,
.p-text-style {
  position: relative;
}

.svg-btn {
  width: 150px;
  align-self: center;
  margin-top: auto;
  margin-bottom: 2rem;
  cursor: pointer;
}


.btn {
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #bbb;
  cursor: pointer;
}

.btn-modal {
  width: 100%;
  margin-top: 1rem;
  background-color: #696cff;
  font-weight: 600;
  color: #fff;
  border: none;
}

.modal {
  -webkit-overflow-scrolling: touch;
}

.footer-info {
  text-align: left;
}

.footer-ul {
  font-size: 1rem;
  font-weight: 300;
}

.footer-ul li {
  margin-bottom: 10px;
}

.footer-info-content {
  padding: 0 9px;
}

.invalid-form {
  border-color: #dc3545 !important;
}

.main-blob .invalid-form-text {
  display: block !important;
}

.visibility-hidden {
  visibility: hidden !important;
  opacity: 0;
  height: 0;
  margin: 0 !important;
  padding: 0 !important;
}

.modal-header {
  padding: 1.5625rem;
}

.modal-body label {
  padding-top: 8px;
}

.svg-btn-text-white {
  fill: #000;
}

.bottom-0 {
  bottom: 0;
}

.fact-header p {
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
}

.text-grey {
  /* color: #d4d4d4; */
  color: #bfbfbf;
}

.test-lines {
  position: absolute;
  right: 0;
}

#three .blogger-photo {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: visible;
}

.img-container:hover .middle {
  opacity: 1;
}

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  border: 4px #ffda00 solid;
}

.middle img {
  position: absolute;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.container+.contents-on-page {
  max-width: 100vw !important;
  margin-right: 0;
  margin-left: 0;
}

/* -------- Classes ---------- */

/* ----------------------- Nav Menu ------------------------- */
.menu-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 2;
  right: 16px;
  top: 15px;
  cursor: pointer;
}

.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #ffffff;
  margin-bottom: 4px;
  transition: transform 0.2s ease, background-color 0.5s ease;
}

.menu-icon__line-left {
  width: 15px;
}

.menu-icon__line-right {
  width: 15px;
  float: right;
}

.navg {
  position: fixed;
  z-index: 1;
}

.navg:before,
.navg:after {
  content: "";
  /* position: fixed; */
  width: 100vw;
  height: 100vh;
  background: rgba(234, 234, 234, 0.2);
  z-index: -1;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transform: translateX(0%) translateY(-100%);
}

.navg:after {
  background: white;
  transition-delay: 0s;
}

.navg:before {
  transition-delay: 0.1s;
}

.nav__content {
  position: fixed;
  top: 50%;
  /* right: 0; */
  left: -100vw;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 200;
}

.nav__list {
  pointer-events: none;
  cursor: default;
  margin: 0;
}

body.nav-active .nav__content {
  right: 0;
  left: 0;
}

body.nav-active .nav__list {
  pointer-events: all;
  cursor: pointer;
}

.nav__list-item {
  position: relative;
  display: block;
  transition-delay: 0.8s;
  opacity: 0;
  transform: translate(0%, 100%);
  transition: opacity 0.2s ease, transform 0.3s ease;
  margin-bottom: 15px;
}

.nav__list-item:before {
  /* content: ""; */
  position: absolute;
  background: #000000;
  width: 20px;
  height: 1px;
  top: 100%;
  transform: translate(0%, 0%);
  transition: all 0.3s ease;
  z-index: -1;
}

.nav__list-item:hover:before {
  width: 100%;
}

.nav-active {
  overflow: hidden;
}

body.nav-active .menu-icon__line {
  /* background-color: #000; */
  transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
  transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
  transform: translateX(-2px) rotate(45deg);
}

body.nav-active .navg {
  visibility: visible;
}

body.nav-active .navg:before,
body.nav-active .navg:after {
  transform: translateX(0%) translateY(0%);
}

body.nav-active .navg:after {
  transition-delay: 0.1s;
}

body.nav-active .navg:before {
  transition-delay: 0s;
}

body.nav-active .nav__list-item {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.2s ease, transform 0.2s ease, color 0.2s ease;
}

body.nav-active .nav__list-item:nth-child(0) {
  transition-delay: 1.5s;
}

body.nav-active .nav__list-item:nth-child(1) {
  transition-delay: 0.4s;
}

body.nav-active .nav__list-item:nth-child(2) {
  transition-delay: 0.5s;
}

body.nav-active .nav__list-item:nth-child(3) {
  transition-delay: 0.6s;
}

body.nav-active .nav__list-item:nth-child(4) {
  transition-delay: 0.7s;
}

body.nav-active .nav__list-item:nth-child(5) {
  transition-delay: 0.8s;
}

body.nav-active .nav__list-item:nth-child(6) {
  transition-delay: 0.9s;
}

body.nav-active .nav__list-item:nth-child(7) {
  transition-delay: 1.0s;
}

body.nav-active .nav__list-item:nth-child(8) {
  transition-delay: 1.1s;
}

body.nav-active .nav__list-item:nth-child(9) {
  transition-delay: 1.2s;
}

/* ------------------------------------------------- */

/* -------- Media Qs ---------- */
@media (min-width: 576px) {
  .nav__list-item {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .nav-link {
    font-size: 0.7rem;
  }

  .img-page {
    min-height: 70vw;
  }
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 0.9rem;
  }

  .img-page {
    /* background-attachment: fixed; */
    width: 50vw;
  }

  .contents-on-page {
    padding: 0 2rem;

  }

  .svg-btn {
    margin-bottom: -3rem;
  }
}

@media (min-width: 1200px) {
  .img-page {
    min-height: 50vw;
  }
}

@media (min-width: 1200px) {
  #facts {
    display: flex;
    max-width: 1140px;
  }

  .fact {
    flex: 1;
  }
}

@media (min-width: 1800px) {
  .h-text-style {
    font-size: 55px;
    margin-bottom: 1rem;
    font-weight: 400;
  }

  #three .h-text-style {
    font-size: 60px;
  }

  .p-text-style {
    font-size: 35px;
    padding-bottom: 2rem;
    font-weight: 200;
  }

  .text-on-page {
    max-width: 1000px;
  }

  .contents-on-page {
    padding: 0rem;
  }

  /* 303f4d */
  #ten .p-text-style {
    max-width: 800px;
  }

  .svg-btn {
    width: 200px;
    margin-bottom: -5rem;
  }


}

@media (max-width: 1200px) {

  .h-text-style {
    font-size: 35px;
  }

  #three .h-text-style {
    font-size: 40px;
  }

  .p-text-style {
    font-size: 25px;
  }


}


@media (max-width: 992px) {
  .my-gallery img {
    width: 100px;
  }

  .h-text-style {
    font-size: 30px;
  }

  #three .h-text-style {
    font-size: 35px;
  }

  .p-text-style {
    font-size: 20px;
  }

  #three .person-card .blogger-photo {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 768px) {

  .h-text-style {
    font-size: 30px;
    text-align: left;
  }

  #three .h-text-style {
    font-size: 35px;
  }

  .p-text-style {
    font-size: 20px;
    text-align: left;
  }

  .navg:before,
  .navg:after {
    position: fixed;
  }

  .img-page {
    min-height: 90vh;
  }

  .contents-on-page {
    opacity: 1 !important;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .svg-btn {
    margin-bottom: -8rem;
  }

  #intro h5 {
    max-width: 600px;
    margin: auto;
    width: 80vw;
  }

}

@media (max-width: 576px) {
  .h-text-style {
    font-size: 28px;
  }

  .p-text-style {
    font-size: 18px;
  }

  #ten .p-text-style {
    font-size: 20px;
  }

  .p-text-style {
    font-weight: 300;
  }

  #text h4 {
    font-size: 1.3rem;
    padding: 1.5rem 1rem;
  }

  .my-gallery img {
    width: 80px;
  }

  #three .person-card .blogger-photo {
    width: 150px;
    height: 150px;
  }

  #three .crew-name {
    font-size: 1.4rem;
  }

  #three .profession {
    font-size: 1.2rem;
  }

  .border-bottom-sm-none {
    border-bottom: none;
  }

  #cookie-popup .popup-content {
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    margin: 0 1rem;
  }

  #cookie-popup .popup-content button {
    margin-left: 0;
    margin-top: 1rem;
    width: 100%;
  }

  #start-overlay img {
    height: 80px;
  }

  #start-overlay .overlay-content h4 {
    font-size: 1.4rem;
  }
}

@media screen and (orientation:landscape) and (max-height: 576px) {
  .nav__list-item {
    display: inline-block;
    margin: 1rem;
    /* overflow: hidden; */
  }

  .nav__content {
    top: 50%;
  }

  .navg:before,
  .navg:after {
    position: fixed;
  }

  .img-page {
    min-height: 100vh;
  }

  .svg-btn {
    margin-bottom: -4rem;
  }

  .border-bottom-sm-none {
    border-bottom: none;
  }
}

/* -------- Media Qs ---------- */